<section class="w-full flex flex-col gap-4 mt-[100px] md:mt-[120px] lg:mt-[0px] mb-12">
<div class="w-full flex justify-center items-center curved relative h-36 pb-10"
  style="background: linear-gradient(to left top, rgb(255, 55, 147), rgb(63, 40, 131), rgb(255, 64, 33));">

  <p class="title-team text-white font-semibold title-steps">Nuestro equipo</p>
</div>
<div class="team-content">
  <div class="member">
    <div class="member-img">
      <img
        src="../../../assets/imgs/Exe.png"
        alt="Exequiel Maydana" class="img-responsive" />
    </div>
    <div class="member-text">
      <div class="name">
        <span class="name">Exequiel Maydana</span>
      </div>
      <div class="title-member h-16">
        <p class="text-xl font-medium">Full Stack Web Developer</p>
        <p class="text-xl font-medium">Tech Leader</p>
      </div>
      <div class="location-member">
        <p>San José de Feliciano - Entre Ríos</p>
      </div>
      <div class="card-footer">
        <a href="https://www.facebook.com/exe.maydana.3/" target="_blank"><i class="bx bxl-facebook icon"></i></a>
        <a href="https://twitter.com/ExeBikerr" target="_blank"><i class="bx bxl-twitter icon"></i></a>
        <a href="https://www.instagram.com/exe_m666/" target="_blank"><i class="bx bxl-instagram icon "></i></a>
        <a href="https://www.linkedin.com/in/hernan-exequiel-maydana-913a50218/" target="_blank"><i class="bx bxl-linkedin icon"></i></a>
        <a href="https://github.com/ExequielMaydana " target="_blank"><i class="bx bxl-github icon"></i></a>
      </div>
    </div>
  </div>
  <div class="member">
    <div class="member-img">
      <img src="../../../assets/imgs/Mauri.png" alt="Mauricio Demasi" class="img-responsive" />
    </div>
    <div class="member-text">
      <div class="name">
        <span class="name">Mauricio Demasi</span>
      </div>
      <div class="title-member h-16">
        <p class="text-lg font-medium">Back-End Developer</p>
        <p class="text-lg font-medium">Product Owner</p>
      </div>
      <div class="location-member">
        <p>Río Tercero - Córdoba</p>
      </div>
    <div class="card-footer">
      <a href="https://www.facebook.com/mauricio.demasititan?mibextid=ZbWKwL" target="_blank"><i class="bx bxl-facebook icon"></i></a>
      <a href="/team" ><i class="bx bxl-twitter icon"></i></a>
      <a href="https://instagram.com/demasimaury?igshid=OGQ5ZDc2ODk2ZA" target="_blank"><i class="bx bxl-instagram icon "></i></a>
      <a href="https://www.linkedin.com/in/mauri-demasi-253161181/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="bx bxl-linkedin icon"></i></a>
      <a href="https://github.com/MauriDemasi" target="_blank"><i class="bx bxl-github icon"></i></a>
    </div>
    </div>
  </div>
  <div class="member">
    <div class="member-img"><img
        src="../../../assets/imgs/Cari.png"
        alt="Carina Bosio" class="img-responsive" /></div>
    <div class="member-text">
      <div class="name">
        <span class="name">Carina Bosio</span>
      </div>
      <div class="title-member h-16">
        <p class="text-xl font-medium">Front-End Developer</p>
        <p class="text-xl font-medium">Designer UX-UI</p>
      </div>
      <div class="location-member">
        <p>Córdoba Capital - Córdoba</p>
      </div>
      <div class="card-footer">
      <a href="https://www.facebook.com/CarinaBosio" target="_blank"><i class="bx bxl-facebook icon"></i></a>
      <a href="https://www.facebook.com/CarinaBosio" target="_blank"><i class="bx bxl-twitter icon"></i></a>
      <a href="https://www.instagram.com/carinasbosio/" target="_blank"><i class="bx bxl-instagram icon "></i></a>
      <a href="https://www.linkedin.com/in/carina-susana-bosio-73621215b/" target="_blank"><i class="bx bxl-linkedin icon"></i></a>
      <a href="https://github.com/CariBosio" target="_blank"><i class="bx bxl-github icon"></i></a>
      </div>
    </div>
  </div>
</div>
</section>
