<app-modal-status-cart
  *ngIf="onModalStatus"
  [status]="statusModal"
  [message]="messageModal"
>
</app-modal-status-cart>
<article
  class="exchange-container w-full h-screen flex justify-center items-center"
>
  <div class="sidebar grid place-items-center w-[10%] h-[100%] text-white">
    <p class="title">Catálogo de Canjes</p>
  </div>
  <div
    class="content relative w-[90%] h-full bg-[#d9d4e6] overflow-hidden overflow-y-auto"
  >
    <p class="rewards font-bold">Recompensas por tu compromiso</p>
    <div class="flex justify-between">
      <p class="recommended text-3xl font-semibold mb-[10px]">
        Más recomendados
      </p>
      <button class="bg-darkSlateBlue px-4 py-1 text-white rounded-md" *ngIf="typeUser === 'vol'"><a href="/exchange">Ver
          mas</a></button>

    </div>
    <div class="cards inline-flex flex-wrap justify-center gap-4">
      <div
        class="w-40 p-4 relative cardProduct rounded-lg bg-white shadow lg:w-52"
        *ngFor="let product of dataProducts"
      >
        <figure class="w-full h-[100px]">
          <img
            [src]="
              product.image?.imageUrl
                ? product.image?.imageUrl
                : '/assets/imgs/patron1.png'
            "
            alt="Producto"
            class="w-full h-full object-contain"
          />
        </figure>
        <div class="detail flex flex-col justify-between items-center">
          <p class="font-semibold text-center">{{ product.name }}</p>
          <p class="text-deepPink font-medium">
            {{ product.costInHours }} horas
          </p>
        </div>
        <button
          [disabled]="typeUser === 'org'"
          (click)="addToCart(product)"
          class="bg-darkSlateBlue px-2 py-1 rounded text-white border-2 border-darkSlateBlue"
        >
          Lo quiero
        </button>
      </div>
    </div>
    <app-register-login-exchange-modal
      *ngIf="isModalOpen"
      (closeModalEvent)="closeModal()"
      class="modal-exchange"
    ></app-register-login-exchange-modal>
  </div>
</article>
